
.profile {
	width: 400px;
	text-align: center;
	margin: auto;
	border: solid 50px #becdd6;    
}

.description {
	width: 300px;
	height: auto;     
}

.avatar {         /*  — url на изображение */ 
	width: 128px;
	height: 128px;
	border-radius: 50%;
	overflow: hidden;
    margin-top: 30px;
    background-color: #9c9a9a;
}

.name {
	font-size: 18px;
	color: #313131;
	font-weight: 700;
	margin-top: 30px;
}

.tag {             /* — тег в социальной сети без @ */ 
	font-size: 14px;
	color: #6d6d6d;
	text-align: center;
	margin-top: 10px;
}

.location {        /* — город и страна */       
	font-size: 14px;
    color: #5f7286;
	line-height: 32px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.stats {     /* — объект с информацией об активности  */ 
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	background-color: #e4e9ee;
	border-radius: 0 0 5px 5px;
}

.item {
	flex-direction: column;    
	border: solid 1px #d8e0ea;
	width: 100px;
}

.label {
    justify-content: space-evenly;
    color: #73818f;
	margin-top: 22px;
	font-size: 12px;
	display: flex;
}

.quantity {
    justify-content: space-evenly;
	margin-bottom: 22px;
	line-height: 1.2;
	font-weight: bold;
	font-size: 14px;
	display: flex;
}