.friend_list {
	width: 350px;
	margin: 20px auto 20px auto;
   
}

.item {
    display: flex;
    align-items: center;
    margin: 0 20px 20px 20px;
    box-shadow: 0.05em 0.05em 0.2em 0.05em;
    border-radius: 3px;
    background-color: white;
}
 
.statusOnline,
.statusOffline {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    margin: 0 15px 0 15px;
}
.statusOffline {
    background-color: red;
}

.avatar {
    width: 60px;
    height: 70px;
    border-radius: 10px;
    margin: 10px;
}

.name {
    font-size: 24px;
    font-weight: 600;
}