html {
	box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
  }


  
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* .shop {
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
}

.menu {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.content {
  border: 1px solid black;
  display: flex;
  flex: 1;
}

.header {
  border: 1px solid black;
  display: flex;
  flex: 1;
}

.footer {
  border: 1px solid black;
  display: flex;
  flex: 1;
}

.item img {
  width: 100px;
} */